{
	debug
	dynamic_dns {
		provider cloudflare {$CLOUDFLARE_API_TOKEN}
		domains {
			{$BASE_DOMAIN} dev lampa.dev outline.dev
		}
	}
}

(otp_auth) {
	forward_auth {args[0]} http://host.docker.internal:8090 {
		uri /api/otp/verify
		copy_headers Cookie
		header_down Set-Cookie
		header_up Remote-Addr {host}
		header_up Original-URI {uri}
	}
}

dev.{$BASE_DOMAIN} {
	@api path /api /api/* /_ /_/*
	handle @api {
		reverse_proxy host.docker.internal:8090
	}

	handle {
		reverse_proxy host.docker.internal:5173
	}
}

lampa.dev.{$BASE_DOMAIN} {
	@not_static {
		not {
			path /manifest.json
			path /lampa-main/*
			path *.js *.css
		}
	}

	import otp_auth @not_static

	handle {
		reverse_proxy lampa:80
	}
}
