{
	dynamic_dns {
		provider cloudflare {$CLOUDFLARE_API_TOKEN}
		domains {
			{$CLOUDFLARE_DOMAIN_ZONE} @ lampa
		}
	}
}

(otp_auth) {
	forward_auth {args[0]} http://backend {
		uri /api/otp/verify
		copy_headers Cookie
		header_down Set-Cookie
		header_up Remote-Addr {host}
		header_up Original-URI {uri}
	}
}

(cors) {
	@cors_preflight{args.0} method OPTIONS
	@cors{args.0} header Origin {args.0}

	handle @cors_preflight{args.0} {
		header {
			Access-Control-Allow-Origin "{args.0}"
			Access-Control-Allow-Credentials "true"
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
			Access-Control-Allow-Headers *
			Access-Control-Max-Age "3600"
			defer
		}
		respond "" 204
	}

	handle @cors{args.0} {
		header {
			Access-Control-Allow-Origin "{args.0}"
			Access-Control-Allow-Credentials "true"
			Access-Control-Expose-Headers *
			defer
		}
	}
}

{$BASE_DOMAIN} {
	@api path /api /api/* /_ /_/*

	handle @api {
		import cors https://lampa.{$BASE_DOMAIN}
		reverse_proxy http://backend {
			header_down -Access-Control-Allow-Origin
		}
	}

	handle {
		reverse_proxy http://frontend
	}
}

lampa.{$BASE_DOMAIN} {
	@only_index {
		path /
		path /lampa-main/index.html
	}

	import otp_auth @only_index

	handle_path /lampa-main/plugins/* {
		root * /lampa-plugins
		@not_static not file
		reverse_proxy @not_static http://lampa
		file_server
	}

	handle {
		reverse_proxy http://lampa
	}
}
